.intro{
    font-family: 'Poppins', sans-serif;;
    font-size: 1rem;
    letter-spacing: 1px;
}
.namaku{
    font-family: 'Bebas Neue', cursive;;
    color: rgb(245, 225, 136);
    font-size: 6rem;
    letter-spacing: 2.5px;
}
.subTitle{
    font-family: 'Poppins', sans-serif;
    color: rgb(245, 225, 136);
    
}
.desc{
    font-family: 'Poppins', sans-serif;
}
.txtskill{
    color: black !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .desc{
        width: auto;
    }
    .intro{
        font-size: 0.75rem;
    }
    .namaku{
        font-size: 3rem;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .desc{
        width: auto;
    }
}    

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .desc{
        width: 75%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .desc{
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .desc{
        width: 50%;
    }
}
